# CodeAcademy Text Analysis Project
Plan and conduct any number of NLP techniques to analyze and gain insight into the data.
These techniques can include:

Language Parsing
Word Vectorization
Language Modeling
Topic Modeling
Checking Similarity
Sentiment Analysis
POS Tagging
Named Entity Recognition

## Project Aims
- Temporal Analysis of Text Message Data:
    - How did texting language, abbreviations, and communication patterns change from 2003 to 2015?
    - Did messages get longer/shorter over time as technology evolved?
- Cultural Variation in Text Trends:
    - How does text message formality vary across cultures?
- Sentiment Analysis:
    - How did positive and negative sentiment in text messages change over the 12-year period?
    - Length vs content correlation: Do shorter messages convey different emotions?
-

## Set-up
### Load in required libraries

In [8]:
import pandas as pd
import numpy as np

### Load in files

In [6]:
text_df = pd.read_csv('clean_nus_sms.csv')

In [9]:
# view data
text_df.head(10)

,Unnamed: 0,id,Message,length,country,Date
0,0,10120,Bugis oso near wat...,21,SG,2003/4
1,1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,2003/4
2,2,10122,I dunno until when... Lets go learn pilates...,46,SG,2003/4
3,3,10123,Den only weekdays got special price... Haiz......,140,SG,2003/4
4,4,10124,Meet after lunch la...,22,SG,2003/4
5,5,10125,m walking in citylink now 端 faster come down.....,65,SG,2003/4
6,6,10126,5 nights...We nt staying at port step liao...T...,51,SG,2003/4
7,7,10127,Hey pple...$700 or $900 for 5 nights...Excelle...,81,SG,2003/4
8,8,10128,Yun ah.the ubi one say if 端 wan call by tomorr...,160,SG,2003/4
9,9,10129,Hey tmr maybe can meet you at yck,33,SG,2003/4

#### Variable info:
- `id`: message ID
- `Message`: the text content
- `length`: message length
- `country`: Country of messager; SG (Singapore) and Serbia
- `Date`: Month and year information; 2003/4 to 2015/3 format